<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <div class="header">
            ASP Dotnet Core Demo App
        </div>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
