<!DOCTYPE html>
<html>
<head>
    <title>Config Demo</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>Home</h1>


        <div class="box">
            <div>@ViewBag.ClientSecret</div>
            <div>@ViewBag.ClientAPI</div>
        </div>
    </div>

</body>
</html>